@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --shadow: rgba(132, 21, 4, 0.35);

}


.myshadow {
  box-shadow: rgba(132, 21, 4, 0.35) 0px -2px 15px;
}



.input-box input:not(:empty) + label {
  opacity: 0;
}

